/LAB211/LAB211_SE160111_ASSIGNMENT_01/target/
/LAB211/LAB211_SE160111_HospitalManagement/nbproject/private/
/LAB211/LAB211_SE160111_HospitalManagement/build/
/LAB211/LAB211_SE160111_HospitalManagement/dist/
/LAB211/LAB211_SE160111_FlowerStoreManagement/nbproject/private/
/LAB211/LAB211_SE160111_FlowerStoreManagement/build/
/LAB211/LAB211_SE160111_AbroadManagementSystem/nbproject/private/
