@page
@model LoginModel
@{
    ViewData["Title"] = "Login";
}

<h2>Login</h2>

@if (!string.IsNullOrEmpty(ViewData["ErrorMessage"] as string))
{
    <div class="alert alert-danger">@ViewData["ErrorMessage"]</div>
}

<div class="login-account" style="width: 20%">
    <form method="post">
        <div class="form-group">
            <label asp-for="Username">Username</label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" class="form-control" type="password" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>